.cache
.dap-breakpoints
.emacs.desktop
.local
.lsp-session*
auto-save-list
dap-ui-repl-python-history
ellama-sessions
eln-cache
elpa
elpy
elpy-*
emacs-backup
eshell
init.el~
projectile-bookmarks.eld
projects
recentf
recentf~
request
session*
snippets
tramp
transient
url
straight/**/*
straight/build
!straight/repos/straight.el/*
*.prompt
*.log
