.cache
.dap-breakpoints
.emacs.desktop
.local
.lsp-session*
auto-save-list
dap-ui-repl-python-history
eln-cache
elpa
elpy
elpy-*
emacs-backup
eshell
init.el~
projectile-bookmarks.eld
projects
recentf
recentf~
session*
snippets
tramp
transient
url